[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
User=root
EnvironmentFile=/etc/etcd.env
ExecStart={{ bin_dir }}/etcd
NotifyAccess=all
Restart=always
RestartSec=10s
LimitNOFILE=40000
# best effort
IOSchedulingClass=2
# highest priority
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
